.carousel-control-next,
.carousel-control-prev {
  border-radius: 50%;
  background: transparent;
  border: none;
  top: 50%;
  height: 100px;
  width: 123px;
}

.carousel-item::before {
  content: "";
  height: 1070px;
  width: 100%;
  background: rgba(0, 0, 0, 0.418);
  position: absolute;
}
.wrapper {
  height: 68vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  font-size: 40px;
  color: white;
  left: 244px;
}

.typing-demo {
  // width: 10ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.typing-demo.dalatcity {
  width: 10ch;
}

.typing-demo.phuquoc {
  width: 15ch;
}

.typing-demo.vungtau {
  width: 8ch;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 51px;
  height: 43px;
}

.carousel-text {
  position: absolute;
  top: 390px;
  left: 241px;
  font-size: 40px;
  font-family: monospace;
  color: white;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 3s;
}

.button-35 {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: #fff 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  bottom: 150px;
  right: 36px;
  color: white;
}

.button-35:hover {
  box-shadow: transparent 0 0 0 3px, transparent 0 0 0 0;
  background-color: #fff;
  color: #000;
}
