* {
  font-family: "Lobster", cursive;
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
figure {
  margin: 0;
}
picture {
  margin: 0;
  display: block;
  max-width: 100%;
}
input {
  font: inherit;
}
button {
  font: inherit;
}
select {
  font: inherit;
}
textarea {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}
